form {
    border: 10px solid #17A2B8 ;
    padding: 10px;
  }
  
  .createRes {
    display: flex;
    justify-content: space-between;
  }

form label {
flex: 1;
}

form input {
flex: 2;
  }

.dashTitle {
  display: flex;
  justify-content: center
}

.dashHeading{
  justify-content: center
}

td, th{
  text-align: center
}

tr{
  border: 1px solid
}

.rowBorder{
  border: 1px dotted
}

.tables{
  width: 100%
}

.reservations{
  width: 100%
}

.seatTable{
  border: 2px solid #17A2B8
}
